<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>
            Settings
        </title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/mainStyle.css" rel="stylesheet">
        <!--<link href="css/task_detail_Style.css" rel="stylesheet">-->
        <style type="text/css">
            #addNewChildPopup, #addNewParentPopup {
                width: 300px;
                height: 320px;
                background-color: #EBEBEB;
                box-shadow: 0px 0px 15px #D55;
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius:10px;
                margin-top: -180px;
                margin-left: -150px;
                text-align: center;
                font-size: 17px;
                display: none;
            }
            #addNewChildPopup input, #addNewParentPopup input {
                width: 200px;
                margin: 0px auto;
            }
        </style>
    </head>
    <body>
        <div id="page" class="container">
            <div id="wrapper">
                <div id="topBar">
                    <div class="header">
                        Settings
                    </div>
                </div>
                <div id="task-content">
                    <div id="add-task" style="text-align:left; padding:20px; padding-top:10px">
                        <div id="controlform1">
                            <form id="projectForm" role="form">
                                <div class="form-group">
                                    <h4>Children registered to your account:</h4>
                                    <div class = "project thumbnail">
                                        <span id="childList">

                                        </span>
                                        <button id="addNewChild" type="button" class="btn btn-default btn-group-justified">
                                            Add New Child
                                        </button>
                                    </div>


                                </div>

                                <div class ="form-group">
                                    <h4>
                                        Administrators/Parents of your group: 
                                    </h4>
                                    <div class = "project thumbnail">
                                        <span id="parentList">
                                        </span>
                                        <button id="addNewParent" type="button" class="btn btn-default btn-group-justified">
                                            Add New Parent/Administrator
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                </label>
                            </div>
                            <button id="logoutBtn" type="button" class="btn btn-default btn-group-justified btn-primary">
                                Logout
                            </button>
                            <br />
                            <br />
                        </form>
                    </div>
                </div>
            </div>

            <div id="addNewChildPopup">
                <br />
                <span style="font-weight:bold">
                    Add a Child
                </span>
                <br />
                <br />
                <input class="form-control" type="text" required id="nameField" placeholder="Name"  />
                <br />
                <input class="form-control" type="text" required id="emailField" placeholder="Email"  />
                <br />
                <input class="form-control" type="text" required id="passwordField" placeholder="Temp. Password"  />
                <br />
                <button id="addChildSubmit" class="btn btn-default">
                    Add
                </button>
                <button id="addChildCancel" class="btn btn-default">
                    Cancel
                </button>
            </div>
            <div id="addNewParentPopup">
                <br />
                <span style="font-weight:bold">
                    Add a Parent
                </span>
                <br />
                <br />
                <input type="text" id="nameField" value="Name" />
                <br />
                <br />
                <input type="text" id="emailField" value="Email" />
                <br />
                <br />
                <input type="text" id="passwordField" value="Temp. Password" />
                <br />
                <br />
                <button id="addParentSubmit">
                    Add
                </button>
                <button id="addParentCancel">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div id="bottomBar"> 
        <a href="/"><img id="tasksIcon" class="nav-icons" src="images/tasksIcon.png" /></a>
        <a href="/rewards" ><img id="rewardsIcon" class="nav-icons" src="images/rewardsIcon.png" /></a>
        <a href="/notifications"><img id="notIcon" class="nav-icons" src="images/notIcon.png" /></a>
        <a href="/settings"><img id="settingsIcon" class="nav-icons" src="images/settingsIcon2.png" /></a>
        <span class="stretch"></span>
    </div>

    </div>
</div>
<script src="js/jquery-1.11.0.js">
</script>

<script src="js/bootstrap.js">
</script>

<script src="js/notify.min.js"></script>

<script src="js/settings_page.js">
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48471738-2', 'temporarygiraffe.herokuapp.com');
  ga('send', 'pageview');

//    ga('send', 'event', 'back button', 'click');
//    ga('send', 'event', 'add task', 'click');
//    ga('send', 'event', 'add task center', 'click');

</script>
<!-- End Google Analytics -->

</body>
</html>