<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Task Details</title>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/mainStyle.css" rel="stylesheet">
<link href="css/task_detail_Style.css" rel="stylesheet">
</head>

<body>
<div id="page" class="container">

	<div id="topBar">
    <div class="header">Task</div>
	<div class="LeftBtn"><img src="../public/images/back_btn.png" class="addBtn" /></div>
	</div>
    
  <div id="taskTitle">
    <p>{{task_description}}</p>
    <img src="../public/images/line.png" width="250"/>
  </div>
    
  <div id ="left-det" class="details">
    <p>Assigned to</p>
	<h3>{{name}}</h3>
	  </div>
    
  <div id="right-det" class="details">
    <p>Reward</p>
    <!-- I can't work with this: <img src="../public/images/point.png" width="90" height "90"/> --->
	<div id="rewardbox"><h3>40</h3><p>pts</p></div>
	</div>
  
  <div id="comments">
  <img src="../public/images/line.png" width="250"/>
  <p>COMMENTS  </p>
  <div id="commentbox"><textarea rows="2" class=v"glyphicon-align-center" id="commentarea">Leave a comment if you want to clarify something.</textarea><p><div id= "reply_btn">
  <img src= ../public/images/reply_btn.png/>
  </div></p></div>
    

  </div>
</div>
</body>
</html>
